.galeria img {
    box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    margin: 10px;
}

.horizontal img {
    width: 290px;
    height: 200px;
}

.horizontal2 img {
    width: 380px;
    height: 300px;
}

.vertical img {
    width: 180px;
    height: 300px;
}

.vertical2 img {
    width: 200px;
    height: 300px;
}

.materialbox-caption {
    bottom: 30px;
    right: 0;
    width: 400px;
    height: auto;
    padding: 10px;
    margin: auto;
    background: #000;
    box-shadow: 5px 5px #fff;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
}