header{
    background: transparent;
    width: 100%;
    position: fixed;
    z-index: 100;
    
 }

#menu{    
    margin:auto;
    width:30px;	
    left:1260px;
    top:20px;
    position:absolute;
    background-color: transparent;
    font-family: 'gabrielaregular';
    font-size: 20px;
    
}

ul, ol{
    list-style: none;
}

.nav li a {
    background-color: #000000;
    color: rgb(191, 230, 199);
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.nav > li{
    float: left;
}

.nav li a:hover{
    background-image: linear-gradient(200deg, #07575B 0%, #1f6829 100%);       
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 50px;    
}

.nav li:hover > ul{
        display: block; 
}

.nav li ul li{
    position: relative;
}

.nav li ul li{
    left: -78px;
    top: none;
}